<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        Be My Friend
    </div>
    <div>Baba just snap me the picture wey I say wey you snap </div>
    <a href="<%=url%>">accept</a>
</body>
</html>